<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hjack737.cocktails" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- 1. Hier trägst du deinen gewünschten App-Namen ein -->
    <name>Cocktails</name>
    
    <description>Hjacks Cocktail-App</description>
    <author email="feschaff@gmail.com">Hjack737</author>
    
    <content src="index.html" />
    
    <!-- iOS spezifische Einstellungen -->
    <platform name="ios">
        <!-- Sucht nach dem Icon im res-Ordner -->
        <icon src="res/icon.png" width="1024" height="1024" />
    </platform>
</widget>
